{
  "presets": [
    "env",
  	"react",
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-react-jsx-img-import",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]

}
